*{
  box-sizing: border-box;
  margin: 0;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../Media/background.jpg");
  height: 100vh;
}

.playArea{
  max-width: 600px;
  max-height: auto;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 25px;
}

.playArea div{
  min-width: 90px;
  min-height: 90px;
}


.score{
  font-size: 98px;
  font-weight: 900;
  padding-right: 100px;
}


@media only screen and (max-width: 1200px) {
  .container{
    flex-direction: column;
  }
}